<div [ngStyle]="{width:'350px',margin:'50px auto'}">
 <md-card>
   <md-card-title>Login Form</md-card-title>
   <md-card-content>
    <p>{{message}}</p>
    <form>
      <table style="width: 100%" cellspacing="0">
        <tr>
           <!-- <md-input-container>
             <input mdInput placeholder="First Name"  ngModel>
          </md-input-container>
           <md-input-container>
             <input mdInput placeholder="Last Name"  ngModel>
          </md-input-container> -->
        </tr>
        <tr>
           <!-- <md-input-container>
             <input mdInput placeholder="Password"  ngModel>
          </md-input-container>
           <md-input-container>
             <input mdInput placeholder="Confirm Password"  ngModel>
          </md-input-container> -->

        </tr>
      </table>
    </form>
  </md-card-content>
  <md-card-actions>
    <!-- (click)="openDialog()" -->
    <button md-raised-button class="md-raised-button md-primary" (click)="login()">Login</button>
  </md-card-actions>
</md-card>
</div>
