<md-nav-list>
  <a class="active" md-list-item [routerLink]="['/admin','dashboard']">
    <md-icon>dashboard</md-icon> 
    Dashboard
  </a>
  <a md-list-item [routerLink]="['/admin','zones']">
    <md-icon>markunread_mailbox</md-icon> 
    Zones Master
  </a>
  <a md-list-item [routerLink]="['/admin','rooms']">
    <md-icon>event_seat</md-icon> 
    Rooms Master
  </a>
  <a md-list-item  [routerLink]="['/admin','users']">
    <md-icon class="md-24">account_box</md-icon> 
    Users Master
  </a>
</md-nav-list>